body{
  height: 100vh;
  background: #6D6027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, var(--bg-primary), var(--bg-secondary));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2b2b34, var(--bg-secondary)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

*.col {
  background-color: var(--bg-primary);
  color: var(--text-secondary);
}
*.collumn {
  /* background-color: #FAEBD7; */
  color: var(--text-secondary);
}
*.collumn img {
  transform: rotate(185deg);
}
.content{
  padding-top: 2rem;
}
.image-wraper{
  padding-top: 5rem;
}
.image-wraper img{
  width: 80%;
  height: 80%;
}
main {
  margin-left: 5rem;
  padding: 1rem;
}
.nav-text{
  color: var(--text-secondary);
  background-color: #2b2b34;
  border-radius: 15px 50px 30px 5px;
  align-self: center;
  width: 2.8rem;
}
:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}
.navbar{
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary)
}
.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-item{
  width: 100%;
}

.nav-link{


  height: 5rem;
  color: var(--text-primary);
  filter: grayscale(0%) opacity(0.7);
  transition: var(--transition-speed);

}
.nav-link:hover{
  filter: grayscale(0%) opacity(1);
  color: var(--text-secondary);
}
